@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&family=Poppins&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./assets/bg.png);
    background-size: 100%;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 3vh;
}


h1{
    color: #5030B3;
    font-size: 4.2em;
    font-weight: bolder;
}

.intro{
    margin-top: 3vh;
    margin-left: -33em;
}

/* Play button */
#playbuttondiv{
    cursor: pointer;
    display: flex;
    width: 13em;
    margin-top: -2em;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    margin-left: 60rem;
}



/* Game */

.scoreboard{
    display: flex;
    justify-content: center;
    gap: 2em;
}

.scoreboard h2{
    font-size: 80px;
}


.gameDisplay{
    display: flex;
    justify-content: center;
    gap: 10em;
    align-items: center;
}
.handDisplay{
    border:rgb(245, 187, 59) solid 5px;
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    gap: 8em;
    
}

.handDisplay h3{
    font-size: 30px;
    
}
/* the hand signs */
.handsigns img{
    width: 400px;
    top: 300px;
    left: 100px;
    position: absolute;
}

/* hand logos */

.handlogos{
    display: flex;
    justify-content: space-around;
}

.bothandsigns img{
    /* transform: rotate(180deg); */
    width: 400px;
    top: 300px;
    left: 64.8%;
    position: absolute;
}






#game_end{
    margin-top: 2em;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: center;
    flex-direction: column;
}

#game_end button{
    width: 120px;
    background-color: rgb(245, 187, 59);
    color: black;
    font-weight: 800;
    border-radius: 1.4em;
    padding: 10px 10px;
}



#rocklogo:hover,
#paperlogo:hover,
#scissorlogo:hover {
        cursor: pointer;
            transform: scale(0.8);
}



#rocklogo,
#paperlogo,
#scissorlogo {
    transition: 0.3s;
}


#won_text {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color: white;
}

#game_end {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    visibility: hidden;
}

